<div class="ee_editable ee_element">
  <p style="margin: 0px; line-height: 150%; font-family: arial, helvetica, sans-serif; text-align: {{left}}; font-size: 15px; color: rgb(69, 69, 69);">
    {{{text}}}
  </p>
</div>